* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  white-space: nowrap;
}
body {
  background-color: rgba(221, 221, 221, 0.219);
}

.nav {
  background-color: #5468ff;
  height: 7vh;
}

.nav .nav-item .nav-link {
  color: white;
  font-size: 18px;
}

.navBar {
  background-color: #5468ff;
  overflow: hidden;
  line-height: 5vh;
  font-weight: 600;
  font-size: 30px;
}

.navBar a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navBar a:hover {
  background-color: #5468ff;
  color: white;
}

.navBar a.active {
  background-color: #5468ff;
  color: white;
}

#banks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 5vh 5vh 5vh 10vh;
}

#banks td,
#banks th {
  border: 1px solid #ddd;
  padding: 12px;
  font-weight: 600;
}

#banks tr:nth-child(even) {
  background-color: #5468ff2d;
}

#banks tr:hover {
  background-color: #5468ff2d;
}

#banks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5468ff;
  color: white;
}

button {
  background-color: #5468ffc9;
  border: none;
  color: white;
  padding: 2px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.filters {
  margin: 10vh;
  display: flex;
  justify-content: space-around;
}

.searchBar {
  position: relative;
  display: flex;
  min-width: 100px;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 28px;

  padding: 2px 23px 2px 30px;
  outline: 0;
}

form label {
  margin-right: 10px;
}

#text {
  margin-left: 45%;
  margin-top: 5vh;
  font-size: 28px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination form {
  margin-right: 5vh;
}
.card {
  width: 50%;
  margin-left: 55vh;
  margin-top: 10vh;
  padding-left: 5vh;
  padding-top: 5vh;
}

.footer {
  background-color: #5468ff;
  padding-left: 45%;
  padding-top: 5vh;
  margin-top: 60vh;
  color: white;
  height: 12vh;
}

.loader {
  margin-left: 50%;
  margin-top: 10vh;
}
